@page "/"
@using DevExpress.Blazor
@using CollectionSettingsBeforeRender.Shared
<h1>Hello, world!</h1>

<DxCheckBox @bind-Checked="@middleExists">middleExists</DxCheckBox>
<DxCheckBox @bind-Checked="@endExists">endExists</DxCheckBox>
<DxCheckBox @bind-Checked="@beginExists">beginExists</DxCheckBox>

<CollectionViewer>
    <Items>
        @if (beginExists)
        {
            <CollectionItem Name="First item" />
            <CollectionItem />
        }
        <CollectionItem Name="After first item" />
        <CollectionItem />
        @if (middleExists)
        {
            <CollectionItem Name="Middle item" />
        }
        <CollectionItem Name="After middle item" />
        @if (endExists)
        {
            <CollectionItem Name="Last item" />
        }
        <CollectionItem Name="After last item" />
    </Items>
    <RenderTemplate Context="currentItems">
        currentItems - @currentItems.GetHashCode()
        @foreach (var item in currentItems)
        {
            <div>
                @item.ToString()
                <span>-</span>
                @item.GetHashCode()
            </div>
        }
        <DxButton @ref=@_button></DxButton>
        @_buttons.Count
    </RenderTemplate>
</CollectionViewer>


@code {
    readonly HashSet<DxButton> _buttons = new HashSet<DxButton>();

    DxButton _button
    {
        get => throw null ;
        set { _buttons.Add(value); }
    }
    bool beginExists = false, endExists = false, middleExists = false;
}
